@import 'tailwindcss';

@theme {
  --font-univers: 'UniversNextPro', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'InputMono', ui-monospace, monospace;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply font-univers font-normal;
  }
}
