@import 'tailwindcss';

@theme {
  --font-univers: 'UniversNextPro', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'InputMono', ui-monospace, monospace;
  --color-pado-black: #000000;
  --color-pado-wine: #4f1528;
  --color-pado-pink: #ed0ced;
  --color-pado-light: #f5f5f5; /* Placeholder for now */
  --color-pado-gray: #dbdbdb; /* Placeholder for now */
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('./fonts/UniversNextPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InputMono';
  src: url('./fonts/InputMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply font-univers font-normal;
  }
}
